.login-container {
    position: absolute;
    top: 15%;
    bottom: 20%;
    width: 320px;
    /*text-align: center;*/
}
.login_logo{
    width: 150px;
    margin: 0 85px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
}
.or div:nth-child(2) {
    margin: 0 2%;
    /* width: 5%; */
}
.division {
    border: 0.5px solid #cacaca;
    width: 45%;
}
