.circle-userdevice {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f8f9fa;

    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;;
    align-items: center;
}
.circle-icon-userdevice {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #777;
    
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;;
    align-items: center;
}